.my-primary {
    color: black;

}

.my-primary a {
    color: black;
}

.my-primary a:hover, .my-primary a:focus {
    background-color: black;
    color: rgb(255, 251, 157);
}

.my-primary h1,
.my-primary h2,
.my-primary h3,
.my-primary h4,
.my-primary h5,
.my-primary h6 {
    color: rgb(178, 96, 107);
}

.my-secondary h1,
.my-secondary h2,
.my-secondary h3,
.my-secondary h4,
.my-secondary h5,
.my-secondary h6 {
    color: rgb(255,251,157);
}

.my-priority-m {
    
    background-color: coral;
}

.my-priority-h {
    color: white;
    background-color: indianred;
}

.my-secondary {
    color: rgb(255,251,157);
    background-color: rgb(178,96,107);
}

.my-secondary a {
    color: rgb(97, 153, 178)
}

.my-secondary a:hover, .my-secondary a:focus {
    background-color: rgb(178,96,107);
    color: white;
}

.admin-em {
    color:red;
}
.bg-light {
    color: rgb(97, 153, 178)
}

.my-open {
    color: white;
    background-color: indianred;
}

.my-closed {
    color: white;
    background-color: lightgreen;

}

.thumbnail {
    position: relative;
}
.profile-pic {



}
.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.caption p {
    font-size: 18px;
    color: rgba(255, 255, 255, .9);
}

.caption span {
    padding: 10px;
    background-color: rgba(97, 153, 178, .8);
    border-radius: 10px
}

.eho-image, .fdic-image {
    height: 3%;
    width: 3%;
}

.footer-copyright {
    text-transform: uppercase;
}

.footer-copyright a {
    color: white;
}

.footer-copyright a:hover, .footer-copyright a:focus {
    color: rgb(255,251,157);
    text-decoration: none;
}

footer {
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

header {
    padding-bottom: 20px;
}

main {
    padding: 0;
    max-width: 1420px;
    width: 85%;
    margin: auto;

    padding-bottom: 20px;
}

/*Tablet*/

@media only screen and (max-width: 1200px) {

    main {
        width: auto;
    }
}

/*Mobile*/

@media only screen and (max-width: 724px) {

    main {
        width: 450px;
    }
}
