@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div class="container-fluid align-content-center">

    <h3>@ViewBag.Message</h3>

    
    <figure class="figure align-content-center">
        <img class="profile-pic rounded border border-secondary figure-img img-fluid" src="~/Content/80870.png" />
        <figcaption class="figure-caption">
            I am currently enrolled in the Information Technology – Software Developer / Mobile Developer
            program here at Chippewa Valley Technical College.
            I currently live south of Eau Claire about 20 minutes away in the town of Eleva, Wisconsin.
            My hometown is Mondovi, Wisconsin where I graduated High school in 2003.
        </figcaption>
    </figure
</div>

