@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron my-secondary">
    <h1>ASP.NET MVC Final</h1>
    <p class="lead">ASP.NET With C# Final - Benjamin Miles. </p>
    <p>Final project for spring 2018</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Test Accounts</h2>
        <p>
            <h4>regular user: </h4>ben@test.com Password: 1!Strong<br />
            <h4>staff user:</h4> test@test.com Password: 1!Strong<br />
            <h4>administrative user:</h4> admin@test.com Password: 1!Strong <br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>What is this?</h2>
        <p>Web Application to submit tickets to a help desk.</p>
    </div>
    <div class="col-md-4">
        <h2>How do I start</h2>
        <p>Use one of the pregenerated accounts, or register a new one.</p>
    </div>
</div>